<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookstoreapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookStoreApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DonHang.CTDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".DonHang.DonHangActivity"
            android:exported="false" />
        <activity
            android:name=".CaNhan.ThongTinCaNhanActivity"
            android:exported="false" />
        <activity
            android:name=".Card.Card.CardActivity"
            android:exported="false" />
        <activity
            android:name=".DanhMuc.DanhMucSach"
            android:exported="false" />
        <activity
            android:name=".Book.BookInfor"
            android:exported="false" />
        <activity
            android:name=".dangKyActivity"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>